Checks:
  -*,
  bugprone-*,
  performance-*,
  cppcoreguidelines-avoid-goto,
  cppcoreguidelines-avoid-non-const-global-variables,
  cppcoreguidelines-init-variables,
  cppcoreguidelines-interfaces-global-init,
  cppcoreguidelines-narrowing-conversions,
  cppcoreguidelines-no-malloc,
  cppcoreguidelines-prefer-member-initializer,
  cppcoreguidelines-pro-bounds-constant-array-index,
  cppcoreguidelines-pro-type-const-cast,
  cppcoreguidelines-pro-type-cstyle-cast,
  cppcoreguidelines-pro-type-member-init,
  cppcoreguidelines-pro-type-static-cast-downcast,
  cppcoreguidelines-pro-type-union-access,
  cppcoreguidelines-pro-type-vararg,
  cppcoreguidelines-slicing,
  cppcoreguidelines-special-member-functions,
  modernize-*,
  -modernize-use-trailing-return-type,
  -modernize-use-nodiscard,
  misc-*,
  google-*,
  -google-readability-braces-around-statements,
  clang-analyzer-*,
  readability-*,
  -readability-qualified-auto,
  -readability-braces-around-statements,
  -readability-uppercase-literal-suffix,
  -readability-named-parameter
CheckOptions:
  - { key: readability-identifier-naming.NamespaceCase,           value: lower_case }
  - { key: readability-identifier-naming.ClassCase,               value: CamelCase  }
  - { key: readability-identifier-naming.StructCase,              value: CamelCase  }
  - { key: readability-identifier-naming.TemplateParameterCase,   value: CamelCase  }
  - { key: readability-identifier-naming.FunctionCase,            value: lower_case }
  - { key: readability-identifier-naming.ClassMethodCase,         value: camelBack  }
  - { key: readability-identifier-naming.ClassMemberCase,         value: lower_case }
  - { key: readability-identifier-naming.LocalVariableCase,       value: lower_case }
  - { key: readability-identifier-naming.LocalConstantCase,       value: lower_case }
  - { key: readability-identifier-naming.ParameterCase,           value: lower_case }
  - { key: readability-identifier-naming.PrivateMemberCase,       value: lower_case }
  - { key: readability-identifier-naming.PrivateMemberSuffix,     value: _          }
  - { key: readability-identifier-naming.PublicMemberCase,        value: lower_case }
  - { key: readability-identifier-naming.ProtectedMemberCase,     value: lower_case }
  - { key: readability-identifier-naming.ProtectedMemberSuffix,   value: _          }
  - { key: readability-identifier-naming.ConstexprVariableCase,   value: CamelCase  }
  - { key: readability-identifier-naming.ConstexprVariablePrefix, value: k          }
  - { key: readability-identifier-naming.EnumConstantCase,        value: CamelCase  }
  - { key: readability-identifier-naming.EnumConstantPrefix,      value: k          }
  - { key: readability-identifier-naming.GlobalConstantCase,      value: CamelCase  }
  - { key: readability-identifier-naming.GlobalConstantPrefix,    value: k          }
  - { key: readability-identifier-naming.StaticConstantCase,      value: CamelCase  }
  - { key: readability-identifier-naming.StaticConstantPrefix,    value: k          }
  - { key: readability-identifier-naming.ClassConstantCase,       value: CamelCase  }
  - { key: readability-identifier-naming.ClassConstantPrefix,     value: k          }
  - { key: readability-function-size.BranchThreshold,             value: '15'  }
  - { key: readability-function-size.LineThreshold,               value: '120' }
  - { key: readability-function-size.NestingThreshold,            value: '5'   }
  - { key: readability-function-size.ParameterThreshold,          value: '8'   }
  - { key: readability-function-size.StatementThreshold,          value: '90'  }
  - { key: cppcoreguidelines-special-member-functions.AllowSoleDefaultDtor, value: 'true' }
